<!--
  ~ @copyright defined in LICENSE.txt
  -->

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%logger{30}:%line - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
  <logger name="ch.qos.logback" level="error"/>

  <logger name="hera" level="warn"/>
  <logger name="hera.command" level="trace"/>
  <logger name="hera.build" level="info"/>
  <logger name="hera.build.web" level="debug"/>
  <logger name="hera.build.web.Router" level="trace"/>
  <logger name="hera.build.web.service" level="trace"/>
  <logger name="hera.test" level="trace"/>
  <logger name="hera.util" level="error"/>
  <logger name="hera.command.CloneGit" level="debug"/>
  <logger name="hera.command.CloneGitIT" level="trace"/>
</configuration>