!build
!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc.js
!.postcssrc.js
node_modules/
/dist/
npm-debug.log*
package-lock.json
yarn.lock
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
